<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Keycloak example Spring application</title>

    <link href="css/bootstrap.css" rel="stylesheet"/>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-primary">
                Keycloak example Spring application
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Below are your username and roles.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="text-center">
                Username:<br/>
                Roles:
            </p>
        </div>
        <div class="col-md-6">
            <p class="text-left text-info">
                <span th:text="${username}"></span><br/>
                <span th:text="${role}"></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center text-warning">
            <ul>
                <li class="text-center list-inline">
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>